
<div class="blog-masthead" style="background-color: #000000">
    <div class="container">
        <nav class="blog-nav">
            <a class="blog-nav-item active" href="/">Home</a>
            <a class="blog-nav-item" href="#">New features</a>
            <a class="blog-nav-item" href="#/createBlog">createBlog</a>
            <a class="blog-nav-item" href="#/viewBlog">viewBlog</a>
            <a class="blog-nav-item" href="displayAuthor">viewAuthor</a>
            <a class="blog-nav-item pull-right" href="#/getlogin">login</a>
        </nav>
    </div>
</div>
