###########################
#WebStorm Project Files
###########################
.idea/
*ipr
*.iml


###########################
#NPM Files
###########################
node_modules
npm-debug.log


###########################
#Temp Dirs
###########################
.files
.build
.cache
.temp

