<div ng-repeat="blog in blogContainer" style="margin-top: 2%">
    <section id="download" class="content-section text-center" style="padding-top: 51px">
        <div class="download-section">
            <div class="container">
                <div class="col-lg-8 col-lg-offset-2">
                    <h2>{{blog}}</h2>
                    <div class="row">
                        <br>
                        <div class="col-md-2 col-sm-3 text-center">
                            <a class="story-img" href="#"><img src="ajay.JPG" style="width:100px;height:100px" class="img-circle"></a>
                        </div>
                        <div class="col-md-10 col-sm-9">
                            <h3>Post Entry Title</h3>
                            <div class="row">
                                <div class="col-xs-9">
                                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis pharetra varius quam sit amet vulputate.
                                        Quisque mauris augue, molestie tincidunt condimentum vitae, gravida a libero. Aenean sit amet felis
                                      .</p>
                                    <p class="lead"><button class="btn btn-default" ng-click="showMe($event)"  href="" data="{{blog}}">{{blog}}</button></p>
                                    <p class="pull-right"><span class="label label-default">keyword</span> <span class="label label-default">tag</span> <span class="label label-default">post</span></p>
                                    <ul class="list-inline"><li><a href="#">2 Days Ago</a></li><li><a href="#"><i class="glyphicon glyphicon-comment"></i> 4 Comments</a></li><li><a href="#"><i class="glyphicon glyphicon-share"></i> 34 Shares</a></li></ul>
                                </div>
                                <div class="col-xs-3"></div>
                            </div>
                            <br><br>
                        </div>
                    </div>
                    <p>You can find  so many blogs for to read and  you will really enjoy!!!!!!!!!!!! </p>
                    <a href="http://startbootstrap.com/grayscale" class="btn btn-default btn-lg">Visit Download Page</a>
                </div>
            </div>
        </div>
    </section>





</div>