<% include header %>

<body ng-controller="mainCtrl">

<% include blog-mathead %>


<!--
<p  ng-repeat="num in [1,2,3,4,5,6,7,8,9]"> {{num}}{{num| checkmark}} hello</p>

<p  ng-repeat="num in  container"> {{num}} hello-------------</p>
-->
<div class="container" ng-view style="height: 452px; width:1088px;background-image: url('images/home-bg.png'); ">
    ----------------------------
    ----------------------------------
</div>

<% include footer %>

