
<script src="javascripts/markdown.js"></script>


<script type="text/javascript" src="bootstrap/js/dropdown.js"></script>

<!--This  is  required to run angular-->
<script type="text/javascript" src="javascripts/jquery.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.14/angular.min.js"></script>
<script type="text/javascript"src="angular_controller/controller.js">

</script>

<script src="angularroot.js"></script>
<script src="myangular.js"></script>
<!-- Include Bootstrap Asserts JavaScript Files. -->
<script type="text/javascript" src="jquery-ui/ui/jquery.ui.core.js"></script>
<script type="text/javascript" src="jquery-validation/dist/jquery.validate.js"></script>

</body>
</html>