<!DOCTYPE html>
<html lang="en" data-ng-app="myApp" style="background-image: url('images/home-bg.png')">
<head>

    <style>

        code {
            font: 12px Monaco, "Courier New", "DejaVu Sans Mono", "Bitstream Vera Sans Mono", monospace;
            color: #ffffff;
            -webkit-border-radius: 3px;
            -moz-border-radius: 3px;
            border-radius: 3px;
            -moz-background-clip: padding-box;
            -webkit-background-clip: padding-box;
            background-clip: padding-box;
            border: 1px solid #ccc;
            background-color: #000000;
            padding: 0px 3px;
            display: inline-block;
            margin: 0px;

            text-decoration-color: #ffffff;
        }

        #texttop {
            padding-left: 133px;
            margin: 0;
            color: #000000;
            font-size: x-large;
        }

        #divtop {
            padding-left: 133px;
            margin: 0;
            color:#000000;
            font-size: x-large;
        }

        #text-input {

            width: 515px;
            height: 259px;
            margin-left: 20px;
            float: left;
        }

        #preview {
            width: 525px;
            height: 254px;
            margin-left: 20px;

            overflow-y: auto;

        }

        #text-container {
            width: 550px;
            height: 310px;
            margin-left: 20px;
            float: left;
            padding-top: 15px;

        }

        #preview-container {
            width: 470px;
            height: 310px;

            margin-left: 20px;
            float: left;
            padding-top: 15px;

        }

        #a {

            padding-left: 132px;
            margin: 0;
            color: #000000;
            font-size: xx-small;
        }




    </style>

    <meta charset="utf-8">
    <title>Page Title</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link href="bootstrap/dist/css/bootstrap.css" rel="stylesheet">
    <link href="bootstrap/dist/css/bootstrap-responsive.css" rel="stylesheet">
    <link href="bootstrap/dist/css/bootstrap.min.css" rel="stylesheet">
    <link href="bootstrap/dist/css/blog.css" rel="stylesheet">
    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
</head>