<%include header%>

<a href="fail">login(under construction)</a>
<br>
<a href="/auth/facebook">fblogin</a>
<br>
<a href="/auth/google">google</a>
<br>
<a href="/auth/github">github</a>
<br>
<a href="/auth/twitter">twitterlogin</a>
<br>
<a href="createAuthor">create authors</a>
<br>
<a href="displayAuthor">view authors</a>
<br>
<a href="fail">update authors(under construction)</a>
</body>
</html>



